<div class="p-3 text-white bg-sidebar">
    <div class="text-left">
        <button class="btn text-white" (click)="changeStateSidemenu()">
            <i class="fa fa-bars me-2" aria-hidden="true"></i>
        </button>
        <a style="text-decoration: none;" class="text-white" routerLink="/">Admin</a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let m of menu" class="nav-item">
            <a [routerLink]="m.route" class="nav-link text-white" aria-current="page">
                <i [class]="m.icon + ' me-2'" aria-hidden="true"></i>
                {{m.text}}
            </a>
        </li>
    </ul>
</div>