.custom-card{
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
}

.custom-card:hover{
    background-color: rgba(0, 0, 0, .7);
}

.img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 10em;
}

.container-img{
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 1.2em;
}

.text{
    font-size: 1.2em;
    color: white;
}

@media (max-width: 767px) {
    .grip-1{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    }

    .img{
        width: 100%;
        height: auto;
    }
}

.transparent{
    background-color: transparent !important;
    border: none;
    outline: none;
}