/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}

.card-template {
    background-color: rgba(0, 0, 0, .5);
}

.card-templatecard:hover {
    background-color: rgba(0, 0, 0, .7);
}